@media screen and (min-width: 1000px) {
  #main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;
    padding: 0 .5rem;
  }
  .recipe {
    margin-left: 0;
    margin-right: 0;
  }
  #acc-container.n-edit > section:last-of-type {
    display: grid;
    grid-auto-rows: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;
    padding: 0 .5rem;
  }
  #acc-container > section:last-of-type h1 {
    grid-column: 1 / 3;
  }
  #acc-container > section:last-of-type article:nth-of-type(odd) {
    justify-self: end;
  }
}

@media screen and (min-width: 450px) {
  .recipe {
    padding: 1.5rem 2rem 1rem 2rem;
  }
  .user-form {
    padding: 1.5rem;
  }
  .user-form > a {
    margin-bottom: 0;
  }
  /* #acc-container section:first-of-type > section  {
    padding: 0 1.5rem !important;
  }
  #acc-container section:first-of-type > section > a button:last-of-type {
    margin-bottom: 5rem !important;
  } */
}
