.pop {
  transform: scale(1);
  transition: transform .1s ease;
}
.pop:hover {
  transform: scale(1.1);
}

.hidden {
  transform: scale(0);
}


.removeable {
  animation-name: show;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes show {
  0% {
    transform: translateX(-100vw);
  }
  70% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(0);
  }
}

#error-msg {
  animation-name: fadeInOut;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes fadeInOut {
  0% {
    transform: scale(1.1);
    top: 0;
    opacity: 0;
  }
  5% {
    transform: scale(1);
    top: 4rem;
    opacity: 1;
  }
  90% {
    top: 4rem;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
