<nav id="main-menu">
  <ul>
    <a href="/"><li class="menu-item home">Home</li></a>
    <a href="#"><li class="menu-item contact">Contact</li></a>
    <a href="#"><li class="menu-item account">Account</li></a>
    <a href="#"><li class="fa fa-plus-square-o"></li></a>
  </ul>
</nav>
