<% include includes/head.ejs %>

<body class="user-form-body">
<!-- Main Menu -->
<nav id="main-menu">
  <ul>
    <a href="/"><li class="menu-item home">Home</li></a>
    <a href="#"><li class="menu-item contact">Contact</li></a>
    <a href="<% if(!req.session.userId) { %> /login <% } else if(req.session.userId) { %> /account/<% req.session.userId %><% } %>"><li class="menu-item account">Account</li></a>
  </ul>
</nav>

  <form action="/login" method="post">
    <div class="user-form">
      <h1>Log in</h1>
      <!-- E-mail -->
      <label for="email">E-mail</label>
      <input class="<%= error %>" type="text" id="email" name="user_email" placeholder="<%= msg %>" value="<%= value %>">

      <!-- Password -->
      <label for="password">Password</label>
      <input type="password" id="password" name="user_password">

      <!-- Submit -->
      <button type="submit">Log in</button>

      <a href="/register">Don't have an account yet?</a>
    </div>
  </form>

  <% include includes/footer.ejs %>
